a:hover
  cursor pointer

header .top
  width 100%
  height 24px
  background #1e1b29
  a
    color white
    line-height 24px
    margin-left 15px
    &:hover
      color white

header .logo
  height 80px
  background rgba(255, 255, 255, .8)
  img
    padding 22px 0

  h4
    margin 0
    display inline-block
    margin-top 10px
    margin-left 20px

main
  min-height 450px
  p.title
    padding 20px 0
    font-size 18px
    border-bottom 1px solid #ccc
  form
    margin-top 50px
    label
      line-height 34px
      margin 0
    .verify-code
      width 60px
      height 34px
    .change-link
      line-height 34px

footer
  width 100%
  height 100px
  text-align center
  color #909191

  .links
    margin-top 10px

    a
      margin 0 10px


