doctype html
html(lang="en")
  head
    title 中国中招网
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" )
    link(rel="stylesheet", href="/lib/bootstrap.css")
    link(rel="stylesheet", href="/lib/font-awesome.min.css")
    link(rel="stylesheet", href="./index.css")
  body
    header
      .container
        .pull-right
          a 联系暂定
          a 客服服务&nbsp;
            i.fa.fa-angle-down(aria-hidden="true")
          a 网站导航&nbsp;
            i.fa.fa-angle-down(aria-hidden="true")

    main
      #logo
        div.container
          img(src="/statics/logo.png", alt="logo")
      div.signin__signup
          .container
            .row
              .col-sm-offset-3.col-sm-3
                a.btn.btn-block.btn-primary.signin.js-login 登录
              .col-sm-3
                a.btn.btn-block.btn-default.signup 注册

    footer
      .container
        p.links
          a 龙信贷
          | |
          a 关于网站
          | |
          a 联系我们
          | |
          a 服务条款
        p.icp 飞龙信息发展股份有限公司©版权所有 2017   ICP证：苏备12067485号
        p.contact-phone 客服热线：400-8282-808

    //- modal
    #login-modal.modal.fade(tabindex="-1" role="dialog")
      .modal-dialog.modal-sm(role="document")
        .modal-content
          //- .modal-header

          .clearfix
            button.pull-left(type="button" class="close" data-dismiss="modal" aria-label="Close") &times;
          h4 登 录
          .modal-body
            form
              .input-group
                span.input-group-addon
                  i.fa.fa-user
                input.form-control(placeholder="请输入用户名" id="username")
              .input-group
                span.input-group-addon
                  i.fa.fa-lock
                input.form-control(type="password" placeholder="请输入密码")
            .forget-link.clearfix
              a.pull-right 忘记登录密码？
            button.login.btn.btn-primary.btn-block 登 录
            .register-link.clearfix
              a.pull-right 免费注册

    script(src="/lib/jquery.min.js")
    script(src="/lib/bootstrap.js")
    script.
      $('.js-login').on('click', function (){
        $('#login-modal').modal('show')
        $('.signin__signup').hide()
        $('#username').focus()
      })
      $('#login-modal').on('hidden.bs.modal', function () {
        $('.signin__signup').show()
      })
